
/* Dark Mode Styling */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.hero.is-primary {
  background-color: #00d1b2 !important;
}

button.is-dark {
  background-color: #363636;
  color: white;
}

button.is-dark:hover {
  background-color: #4e4e4e;
}

textarea {
  width: 100%;
  margin-top: 10px;
}

.card {
  background-color: #f7f7f7;
}

.card-content {
  padding: 1.5rem;
}

.hidden {
  display: none;
}

button.is-primary, button.is-info, button.is-warning, button.is-danger {
  transition: background-color 0.3s ease;
}

button.is-primary:hover {
  background-color: #4a8aef;
}

button.is-info:hover {
  background-color: #209cee;
}

button.is-warning:hover {
  background-color: #ffdd57;
}

button.is-danger:hover {
  background-color: #ff3860;
}

.is-clickable {
  cursor: pointer;
}

.is-justify-content-space-between {
  display: flex;
  justify-content: space-between;
}

.is-flex {
  display: flex;
}

.is-align-items-center {
  align-items: center;
}
